name: Metrics
on:
  schedule: [{cron: "0 0 * * *"}]
  workflow_dispatch:
  push: {branches: ["master", "main"]}

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Configure git
        run: |
          git config --global user.name  "[Bot] metrics"
          git config --global user.email "9067894+hletrd@users.noreply.github.com"

      - name: metrics-profile
        uses: lowlighter/metrics@latest
        timeout-minutes: 10
        with:
          filename: metrics-profile.svg
          config_timezone: Asia/Seoul
          token: ${{ secrets.METRICS_TOKEN }}

      - name: metrics-habits
        uses: lowlighter/metrics@latest
        timeout-minutes: 10
        with:
          filename: metrics-habits.svg
          config_timezone: Asia/Seoul
          base: ""
          plugin_habits: yes
          plugin_habits_facts: yes
          plugin_habits_charts: yes
          plugin_habits_from: 500
          plugin_habits_days: 30
          plugin_habits_charts_type: graph
          token: ${{ secrets.METRICS_TOKEN }}

      - name: metrics-languages
        uses: lowlighter/metrics@latest
        timeout-minutes: 30
        with:
          filename: metrics-languages.svg
          config_timezone: Asia/Seoul
          base: ""
          plugin_languages: yes
          plugin_languages_indepth: yes
          plugin_languages_recent_load: 400
          plugin_languages_recent_days: 365
          plugin_languages_details: lines
          plugin_languages_analysis_timeout: 120
          plugin_languages_analysis_timeout_repositories: 60
          token: ${{ secrets.METRICS_TOKEN }}
